
 * { 
 	margin: 0px;
 	padding: 0px;
 	/*background-color: #000;*/ 
 }
 h1 { 
 	font: bold 20px verdana, sans-serif;
}

h2{
	font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
	display: block;
}

body {
	text-align: center;
}

#grupo_cajas {
	width: 200px;
	margin: 15px auto;
	text-align: left;
}

#header_prin {
	background: #FFFBB9;
	border: 1px solid #999999;
	padding: 20px;
}

#menu_nav {
	background: #CCCCCC;
	padding: 5px 15px;
}
#menu_nav li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font:bold 14px verdana, sans-serif;
}
#seccion {
	float: left;
	width: 660px;
	margin: 20px;
}
#columna {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: #CCCCCC;
}
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;

}
#map_canvas {
	height: 200px;
	border: 2px;
	border-color: #fff;
	background-color: #fff;

}
